<main class="page">
  <section class="login">
    <h5>ACCEDER</h5>
    <img
      itemprop="thumbnail"
      alt="hombre vestido con camisa azul ilustración, iconos de computadora avatar usuario login, avatar, azul, niño png thumbnail"
      title="hombre vestido con camisa azul ilustración, iconos de computadora avatar usuario login, avatar, azul, niño png"
      src="https://e7.pngegg.com/pngimages/348/800/png-clipart-man-wearing-blue-shirt-illustration-computer-icons-avatar-user-login-avatar-blue-child-thumbnail.png"
      data-src="https://e7.pngegg.com/pngimages/348/800/png-clipart-man-wearing-blue-shirt-illustration-computer-icons-avatar-user-login-avatar-blue-child-thumbnail.png"
      class="lazy lst_img loaded"
      width="100"
      height="100"
      data-was-processed="true"
    />
    <input
      type="text"
      name="Nombre de usuario"
      value=""
      placeholder="Nombre de Usuario"
    />
    <br />
    <input
      type="password"
      name="contraseña"
      value=""
      placeholder="Contraseña"
    />
    <br />
    <input type="submit" name="" value="Ingresar" />
    <P><a hret="#">¿olvidaste tu contraseña?</a> </P>
  </section>
</main>